---
---

// Variables
$base-color: #f60;
$color-light: #888;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 16px/1.5 system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif; //1.48125
  color: #222;

  // Enabling kerning and optional ligatures
  text-rendering: optimizeLegibility;
}

body {
  padding: 1em;
}

ul.unstyled , ul.unstyled li, ul.tags , ul.tags li {
  margin: 0;
  padding: 0;
  list-style: none;
  h3 {
    margin-bottom: 0;
    a {
      text-decoration: none;
//      color: $base-color;
    }
  }
  p {
    margin-top: 0.3em;
  }
}


figure {
  margin: 1em 0 1em 0;
  img {
    border-radius: 5px;
  }
  figcaption{
    color: $color-light;
    padding-top: 0.85em;
    font-size: 0.85em;
    text-align: center;
    font-style: italic;
    line-height: 1.3em;
  }
}
h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  line-height: 1.2em;
}

h3.tags {
  margin-bottom:0;
}

h1 a {
  color: $base-color;
  text-decoration: none;
}

section {
  h2 {
    color: #333;
    margin-bottom: 0;
  }
  h2 + p {
    margin-top: 0.5em;
  }
  h4 {
    margin: 0.5em 0;
  }
  p small {
    color: $color-light;
  }
  img {
    display: block;
    width: 100%;
    max-width: 100%;
  }
}

footer {
  text-align: center;
  padding-top: 2em;
  color: $color-light;
  a {
    color: $base-color;
  }
}

// Layout
header, section, footer {
  max-width: 40em;
  margin: 0 auto;
}
