---
---

// Variables
$base-color: #f60;
$color-light: #888;

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: 400 16px/1.5 system-ui, -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, Arial, sans-serif; //1.48125
  color: #222;

  // Enabling kerning and optional ligatures
  text-rendering: optimizeLegibility;
}

body {
  padding: 1em;
}

section img {
  display: block;
  width: 100%;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0;
  line-height: 1.2em;
}

h1 a {
  color: $base-color;
  text-decoration: none;
}

section {
  h2 {
    margin-bottom: 0;
  }
  h2 + p {
    margin-top: 0.5em;
  }
  p small {
    color: $color-light;
  }
}

footer {
  text-align: center;
  padding-top: 2em;
  color: $color-light;
  a {
    color: $base-color;
  }
}

// Layout
header, section, footer {
  max-width: 40em;
  margin: 0 auto;
}