<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="/css/base.css">
  <title>{{ site.title }}</title>
  {% feed_meta %}
</head>
<body>
  <header>
    <h1><a href='{{ site.url }}'>{{ site.title }}</a></h1>
  </header>
  <section>
    {{ content }}
  </section>
  <footer>
    <a href='{{ site.url }}'>{{ site.title }}</a> — hecho con 🤟🏻 en Madcelona. Código fuente en <a href='https://github.com/miliamperios/miliamperios.github.io'>GitHub</a>.
  </footer>
</body>
</html>
