---
layout: base
---
<a href="{{ site.url }}">← Volver</a>

<h2>{{ page.title }}</h2>
<h4>{{ page.synopsis }}</h4>
<p><small>{{ page.date | date: "%-d/%m/%Y" }} por {{page.author}}</small></p>

<p><small>
	{% if page.tags.size > 0 %}
	Etiqueta{% if page.tags.size > 1 %}s{% endif %}: 
	{% for tag in page.tags %}
    	<a href="/tags#{{ tag }}" class="tags">{{ tag }}</a>
    	{% unless forloop.last %}, {% endunless %}
	{% endfor %}
	{% endif %}
</small></p>

<div class="content">
  {{ content }}
</div>
